body {
    color: #2e7d32;
    background-color: linear-gradient(to bottom, #e0f7fa, #e8f5e9);
    font-family: 'Arial', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b5e20;
    color: #e0f7fa;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 25%;
    border: 4px solid #e0f7fa;
    margin-bottom: 15px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header h2 {
    margin: 10px 0 0 0;
    font-size: 1.2rem;
    color: #a5d6a7;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.intro p {
    text-align: justify;
    line-height: 1.8;
    font-size: 1.1rem;
    color: #2e7d32;
}


.mapa h3{
    text-align: center;
    color: #1b5e20;
    margin-bottom: 15px;
}

iframe {
    border: 3px solid #1b5e20;
    border-radius: 15px;
    width: 100%;
    max-width: 100%;
}

footer {
    background-color: #2e7d32;
    text-align: center;
    color: #e0f7fa;
    padding: 25px 10px;
    margin-top: 50px;
}

footer h3 {
    margin: 0;
    font-size: 1.2rem;
}

footer p {
    margin: 5px 0 0 0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header h2 {
        font-size: 1rem;
    }

    .intro p {
        font-size: 1rem;
    }
}